@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-gradient-header {
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(135deg, #6366f1 0%, #a855f7 25%, #ec4899 50%, #f97316 75%, #eab308 100%);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  /*clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);*/
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

